@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: rgb(245, 245, 245);
  --secondary-dark: rgb(74, 74, 74);
  --secondary-mid: rgb(176, 176, 176);
  --secondary-light: rgb(220, 220, 220);
  --accent-primary: rgb(227, 114, 99);
  --accent-secondary: rgb(238, 247, 239);
}